<htlm>

    <head>
        <title>Jumia Products</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.css') }}">
        <style>
            .header {
                padding: 10px;
                background: #ffeeee;
            }
        </style>
    </head>

    <body>
        <div class="container">
            <nav>
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo">Bargain.co.ke</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="sass.html">Phones</a></li>
                        <li><a href="badges.html">Laptops</a></li>
                        <li><a href="collapsible.html">Tvs</a></li>
                    </ul>
                </div>
            </nav>
            <div class="row">
                    <table class="striped">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Brand</th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Product link</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for product in products %}
                            <tr>
                                <td><img src="{{ product['product_image'] }}" alt="" width="100px"></td>
                                <td>{{ product['brand'] }}</td>
                                <td>{{ product['name'] }}</td>
                                <td>Ksh {{ product['new_and_old_price'][0] }}</td>
                                <td> <a href="{{ product['product_url'] }}">Get item</a> </td>
                            </tr>
                            {% endfor %}
                        </tbody>

            </div>
        </div>
    </body>
</htlm>